.meny
{	/*Skapar en grid i meny för att placera länkarna i senare*/
	display:grid;
	/*Bestämmer storleken för columnerna i griden och gör dem alla lika stora (1 fraktions mellanrum)*/
	grid-template-columns:1fr 1fr 1fr 1fr 1fr;
	/*Gör meny till en grid area som heter nav för att kunna sätta den i sidans grid senare*/
	grid-area: nav;
	/*Ändrar bakgrundfärgen till vit*/
	background-color:white;
	/*Ändrar storleken på texten i globala menyn till 25 pixlar*/
	font-size:25px;
}

body
{	/*Ändrar bakgrundsfärgen till svart */
	background-color:rgb(0,0,0);
	/*Ändrade margin till 0*/
	margin:0;
}

.meny div
{
    /*Sätter texten i mitten*/
    text-align:center;
    /*Ändrar bakgrundsfärgen till blå*/
    background-color:blue;
    /*Gör alla div 5% pixlar större åt alla håll*/
    padding:5%;
}

.meny a{
    /*Gör hela diven till ett block så man kommer till länken om man klickar någonstans innanför diven*/
    display:block;
    /*Gör länkarnas texten vit*/
    color:white;
    /*Tar bort understruckingen och så länkarna inte ändrar färg*/
    text-decoration:none;
}

.meny div:hover{
    /*Gör bakgrunden till svart när man håller muspekaren över dem*/
    background-color:black;
    /*Gör textens färg till vit när man håller muspekaren över dem*/
    color:white;
}

.Esport
{	
	/*Gör bildens tjocklek större*/
	width:850px;
	/*Gör bildens höjd större*/
	height:600px;
	/*Gör bildens att bilden blockerar display*/
	display:block;
	/*Centrerar bilden*/
    margin-left:auto;
	/*Centrerar bilden*/
    margin-right:auto;
	/*Gör runda kanter på bilden*/
	border-radius:50px;
}

table
{	
	/*Gör text storleken till 16 pixlar*/
	font-size:16px;
	/*Gör tjockleken till 1900 pixlar*/
	width:1900px;
	/*Gör färgen till vit*/
	color:white;
}

.bild1
{	/*Gör tjockleken till 800 pixlar*/
	width:800px;
	/*gör höjden till 700 pixlar*/
	height:700px;
	/*Gör att bilden blockerar display*/
	display:block;
	/*Gör så att bilden är till vänster*/
	margin-right:auto;
	/*Gör runda kanter på bilden*/
	border-radius:50px;
}

.bild2
{
	/*Gör runda kanter på bilden*/
	border-radius:50px;
	/*Gör bildens att bilden blockerar display*/
	display:block;
	/*Centrerar bilden*/
    margin-left:auto;
	/*Centrerar bilden*/
    margin-right:auto;
	/*Gör tjockleken till 1200 pixlar*/
	width:1200px;
	/*gör höjden till 500 pixlar*/
	height:500px;
}
p
{
	/*Gör så att texten centeras*/
	text-align:center;
	/*Ändrar till vit färg*/
	color:white;
}	

iframe
{	
	/*Gör videons tjocklek till 55 em*/
	width:55em;
	/*Gör videons höjd till 55 em*/
	height:55em;
	/*Gör bildens att bilden blockerar display*/
	display:block;
	/*Centrerar bilden*/
    margin-left:auto;
	/*Centrerar bilden*/
    margin-right:auto;
	/*Gör att videon täcker hela rutan*/
	border:0;
}

.lag
{	/*Gör listans tjocklek till 110%*/
	width:100%;
}

.bilder
{
	/*Ändrade tjocklek på bilden till 450px*/
	width:450px;
	/*Ändrade höjd på bilden till 300px*/
	height:300px;
}